div {
  margin: 8px 0px;
}

a {
  color: #c2185b;
}

.mat-grid-list {
  color: #fff;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container > * {
  width: 100%;
}

.form-card {
  background: #212121;
  max-width: 50%;
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 25%);
  min-height: 30%;
}

h1 {
  color: #c2185b;
  font-weight: bolder;
  font-size: xx-large;
}

mat-form-field {
  color: #fff;
  min-width: 40%;
}
