<div class="mat-elevation-z8">

    <ng-container
        *ngIf="isDataEmpty; then emptySection; else tableSection"
    ></ng-container>

    <ng-template #emptySection>
        <p>No data to show.</p>
    </ng-template>

    <ng-template #tableSection>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="total_lots">
        <th mat-header-cell *matHeaderCellDef> Total Lots </th>
        <td mat-cell *matCellDef="let element"> {{element.carpark_info[0].total_lots}} </td>
        </ng-container>
    
        <ng-container matColumnDef="lot_type">
        <th mat-header-cell *matHeaderCellDef> Lot Type </th>
        <td mat-cell *matCellDef="let element"> {{element.carpark_info[0].lot_type}} </td>
        </ng-container>
    
        <ng-container matColumnDef="lots_available">
        <th mat-header-cell *matHeaderCellDef> Available Lots </th>
        <td mat-cell *matCellDef="let element"> {{element.carpark_info[0].lots_available}} </td>
        </ng-container>
        
        <ng-container matColumnDef="carpark_number">
            <th mat-header-cell *matHeaderCellDef> Car Park Number </th>
            <td mat-cell *matCellDef="let element"> {{element.carpark_number}} </td>
            </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
    </table>

    <mat-paginator
        [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
    </ng-template>
</div>