.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background: inherit;
}

.mat-toolbar-row {
  margin-left: 30px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.example-spacer {
  flex: 1 1 auto;
  text-align: right;
  padding-right: 2em;
}
